<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Post</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/general.css" />
    <link rel="stylesheet" href="/static/css/sprite.css" />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/userscontent.css" />
    <link rel="stylesheet" href="/static/css/comments.css" />
    <link rel="stylesheet" href="/static/css/profile.css" />
    <style>
      #follow-btn:hover {
        color: black;
      }
    </style>
  </head>
  <body class="d-flex flex-column vh-100">

    <%- include('partials/navbar') %> 

    <section class=" container container-top">
        <section class="content-container">
        <div class="posts" id="posts">
            <article class="post-card">
            <header class="post-header">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
              <div class="post-image-wrapper">
                <img class="post-image" id="user-image" src="<%= profile.picture %>" />
              </div>
              <div class="post-owner-wrapper">
                <a href="/profiles/<%= profile.username %>" id="username" class="post-owner-name"><%= profile.username %></a>
              </div>
              <% if (username === post.username) { %>
              <div class="btn-group">
              <button type="button" style="box-shadow: none;" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- <svg aria-label="More options" class="_8-yf5 " fill="#262626" height="16" viewBox="0 0 48 48" width="16" > <circle clip-rule="evenodd" cx="8" cy="24" fill-rule="evenodd" r="4.5" ></circle> <circle clip-rule="evenodd" cx="24" cy="24" fill-rule="evenodd" r="4.5" ></circle> <circle clip-rule="evenodd" cx="40" cy="24" fill-rule="evenodd" r="4.5" ></circle> </svg> -->
              </button>
              <ul class="dropdown-menu py-0 mt-1">
                <li>
                  <form class="mx-0" action="<%= url %>/posts/<%= post.id %>?_method=DELETE" method="POST">
                  <div class="d-grid gap-2">
                      <button class="btn btn-sm btn-danger px-0 text-light">remove</button>
                  </div>
                  </form>
                </li>
              </ul>
              </div>
              <% } %> 

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->

            </header>

            <section class="post-content-wrapper">
              <img class="post-content" id="post-image" src="<%= post.url + post.img_url.substring(1) %>" />
            </section>
            <section class="post-comments-wrapper">
              <div class="post-likes"></div>
              <div class="post-comment">
                <span class="post-comment-author" id="caption-username"><%= profile.username %></span>   <span id="caption-text"><%= post.caption %> </span>
              </div>
              <br>
              <div class="post-created" id="post-created"><%= post.created_at %> </div>
              <div class="comment">
              </div>
            </section>

        </article>
        </div>
        </section>
    </section>

    <%- include('partials/footer') %> 

    <!--Javascript-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/autosize.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>